
/*TODO remove what is not needed*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this to your desired height */
}

.centered-content {
    text-align: center;
    font-family: system-ui;
}

/* unvisited link */
a:link {
    color: #693a26;
}
/* visited link */
a:visited {
    color: #693a26;
}
/* mouse over link */
a:hover {
    color: #693a26;
}
/* selected link */
a:active {
    color: #693a26;
}

.callbutton {
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 10px 20px; /* Adjust padding for spacing */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
}